<!-- Footer -->
<footer>
    <!-- Social links -->
    <section class="footer-content">
        <section>
        <a href="https://www.facebook.com/" target="_blank"
                    rel="noopener" aria-label="Visit the Mutts Cuts Facebook page (opens in a new tab)">
                    <i class="fab fa-facebook-f"></i></a>
                    
                    <a href="https://www.linkedin.com/" target="_blank"
                    rel="noopener" aria-label="Visit the Mutts Cuts LinkedIn page (opens in a new tab)">
                    <i class="fab fa-linkedin-in"></i></a>
    </section>
    <!-- Company name & copyright -->
    <section>
        <p>Mutts Cuts<strong>&copy;</strong>2023</p>
        </section>
    </section>
</footer>
